*,
*::after,
*::before {
	box-sizing: border-box;
}

.loadingContainer {
	margin: 50px;

	position: relative;
	width: 250px;
	height: 250px;
	animation: container-turn 15000ms linear infinite;

	.ring {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		border: 10px solid black;
		position: relative;
		z-index: 5;
		box-shadow: inset 0px 0px 0px 2px white, 0px 0px 0px 2px white;
	}
	.ball-context-layer {
		position: absolute;
		inset: 0;
		animation: ball-layer-change 1500ms ease-in-out infinite;
	}
	.ball-container {
		position: absolute;
		inset: 0;
		animation: container-turn 15000ms linear infinite;

		.ball {
			position: absolute;
			top: 50%;
			left: -5px;
			width: 20px;
			height: 20px;

			&::after {
				content: "";
				background-color: black;
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				border: 2px solid white;
				opacity: 0;
				animation: ball-move 1500ms ease-in-out infinite,
					fade-in 300ms forwards;
			}
		}
	}
}

@for $i from 1 through 10 {
	.ball-context-layer--#{$i} {
		// transform: rotateZ(36deg * $i);
		&,
		& .ball-container,
		& .ball,
		& .ball::after {
			animation-delay: $i * 0.25s !important;
		}
	}
}

@keyframes ball-turn {
	from {
		transform: translate(-50%, -50%) rotateZ(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotateZ(360deg);
	}
}

@keyframes container-turn {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}

@keyframes ball-move {
	0% {
		transform: translateX(-100%);
		scale: 0.9;
	}
	50% {
		transform: translateX(100%);
		scale: 0.9;
	}
	75% {
		scale: 1.1;
	}
	100% {
		transform: translateX(-100%);
		scale: 0.9;
	}
}
@keyframes ball-layer-change {
	from {
		z-index: 0;
	}
	to {
		z-index: 10;
	}
}
@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
