$font_bold: 'Source Serif Pro', serif;
$font_serif: 'Source Serif Pro', serif;

:root {
--color_black: #191A1A;
--color_gray: #414139;
--color_red: #D23A2A;
--color_purple: #5901d8;
--color_white: #FFFFFF;
}
